<div class="product">
	<h1 style="font-size: 55px;"> {{product.title}}</h1>
	

	<img style="width: 500px; height= auto" src="{{product.img}}" alt="{{product.title}}" title="{{product.title}}">
<br>
<br>
<br>
	<span>Цена:</span>
	<p class='price big'>{{product.price}}</p>
	
</div>